<div    id="listTester"  >

    <div id="debugStuff" class="hide">
        {{config}} <br />
        {{refresh}} <br />
        {{vm.config}} <br />
        ... <br />
    </div>

    <div class="layout-horizontal">
        <div id="quickListHolder" class="layout-horizontal-item">
            list
        </div>
        <div id="quickFormHolder" class="layout-horizontal-item-stretch">
            form
        </div>
    </div>

    <div  id="qcrud_list_partial" >
        sdfsdf .sdf
    </div>

    <div id="actionPanel">
        <button ng-hide="showExplode==false" ng-click="onSave()">Save</button>
        <button id="btnCancel" ng-hide="showExplode==false" ng-click="onCancel()">Cancel</button>
    </div>

    <div id="containerDbgPanel">
        <button ng-hide="showExplode==false" ng-click="onExplode()">Explode</button>
        <button ng-hide="showExplode==false" ng-click="onExplodeReverse()">Combine</button>
    </div>

</div>
