<div id="listTester">
    <div class="dialogContainer" style="padding:10px">

        <div id="debugStuff" class="hide">
            {{config}} <br/>
            {{refresh}} <br/>
            {{vm.config}} <br/>
            ... <br/>
        </div>

        <div id="quickDialogContent">
            <h1 id="dialogTitle" class="unselectable">title</h1>
            <span id="dialogContent">Content</span>
        </div>


        <div class="optionsBar" style="    text-align: right;
    padding-top: 20px;">
            <button ng-click="onOkDialog()" >OK</button>
            <button id="btnCancel" ng-click="onCancelDialog()" >Cancel</button>
        </div>

    </div>




</div>
