<div id="container">
    <div layout="row" layout-align="start center">
        <label>Reloader</label>
    </div>

    <button ng-click="onReload()">Reload</button>
    <button ng-click="onReload2()">Reload (remote)</button>
    <button ng-click="triggerRelink()">Relink</button>

    <br />
    reloaded content:
    <br />
    <div id="area">

        <!--<quick-reloadable></quick-reloadable>-->
        <!--
              <pivot-table-editor2>
             </pivot-table-editor2>


            <pivot-table-editor2>
            </pivot-table-editor2>
        -->

    </div>

    <div id="area3"></div>
</div>